<h1>Nuestros anuncios más guays</h1>

<div class="d-flex gap-5">
  {{#each categories as |category|}}
    <a class="text-center text-decoration-none" href="/products?category={{category.value}}">
        <img src="{{category.img}}" height="40">
        <p class="">{{category.label}}</p>
    </a>
  {{/each}}
</div>

{{!-- Como hacerlo con form --}}
{{!-- <form action="/products" method="get">
  <button name="category" value="tecnologia">
    Tecnologia
  </button>
</form> --}}

{{#if category}}
<h5>Estás viendo resultados de anuncios de <span class="fw-bold">{{getCategoryLabel category}}</span></h5>
{{/if}}

<div class="row gy-5">
  {{#each products as |product|}}
    <div class="col-12 col-md-4">
      {{> productCard product=product}}
    </div>
  {{else}}
    <div class="col-12">
      <p>No hay anuncios disponibles para tu búsqueda</p>
    </div>
  {{/each}}
</div>